img{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

#game{
    margin: auto;
    background: red;
    display: flex;
    flex-wrap: wrap;
    gap: 0;

}

/*@media screen and (max-width: 400px){
    #game{
        width: 100vw;
        margin: 0;
    }
}

@media screen and (min-width: 1000px){
    #game{
        width: 60%;
        margin: 0 20%;
    }
}

@media screen and (min-width: 1500px){
    #game{
        width: 50%;
        margin: 0 25%;
    }
}*/

.segment{
    display: inline-block;
    margin: -1px;
}
