@media print {
    * {-webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important;                 /* Firefox 48 – 96 */
        print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */}
}

img{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

#game{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 0;
    z-index: 1;
    background-color: #ababab;

}

/*@media screen and (max-width: 400px){
    #game{
        width: 100vw;
        margin: 0;
    }
}

@media screen and (min-width: 1000px){
    #game{
        width: 60%;
        margin: 0 20%;
    }
}

@media screen and (min-width: 1500px){
    #game{
        width: 50%;
        margin: 0 25%;
    }
}*/

.segment {
    display: inline-block;
    z-index: 1;
}
.title{
    position: absolute;
    background-image: url("../img/title.png");
    background-size:80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 40%;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 9;

}
.play{
    position: absolute;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 40%;
    height: 12%;
    margin-top: 60%;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 9;
}

.help{
    position: absolute;
    background-image: url("../img/help.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 40%;
    height: 12%;
    margin-top: 76%;
    margin-left: 30%;
    margin-right: 40%;
    z-index: 9;
}
.helpingame{
    position: absolute;
    background-image: url("../img/help_mark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    z-index: 9;
}
.nextlevel{
    position: absolute;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 40%;
    height: 12%;
    margin-top: 60%;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 9;
}
.trylevel{
    position: absolute;
    background-image: url("../img/Try.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 40%;
    height: 12%;
    margin-top: 64%;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 9;

}
.divko{
    position: absolute;
    border: black 1px solid;
    background-color: rgba(170, 170, 170, 0.92);
    width: 50%;
    height: 45%;
    margin-top: 32%;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 8;


}
.pi{
    position: absolute;
    text-align: center;
    width: 40%;
    height: 10%;
    margin-top: 45%;
    margin-left: 30%;
    margin-right: 30%;
    color: #3176fb;
    font-size: 140%;
    z-index: 9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #aaaaaa;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color: #3176fb;
    font-size: 150%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #3176fb;
    text-decoration: none;
    cursor: pointer;
}
img#back{
    width: 10%;
    height: 10%;
    margin: -1px;
}
@media screen and (max-width: 600px) {
    .pi {
        font-size: 100%;
    }
    .helpingame{
        background-size: 30%;
    }
}
@media screen and (max-width: 230px) {
    .pi {
        font-size: 50%;
    }
    .helpingame{
        background-size: 20%;
    }
}
@media screen and (max-width: 160px) {
    .pi {
        font-size: 30%;
    }
    .helpingame{
        background-size: 10%;
    }
}
@media screen and (max-height: 650px) {
    .pi {
        font-size: 100%;
    }
    .helpingame{
        background-size: 30%;
    }
}
@media screen and (max-height: 460px) {
    .pi {
        font-size: 70%;
    }
    .helpingame{
        background-size: 20%;
    }
}
@media screen and (max-height: 240px) {
    .pi {
        font-size: 30%;
    }
    .helpingame{
        background-size: 10%;
    }
}